.header{
    height: 80px;
    background: #000;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.link a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}